body {
    background-color: #ed8a63;
    color: #ed8a63;
    
}
/* .nav-wrapper .right >li{
    color: red; #3a4660;
}
.brand-logo {
    color: #ed8a63;
} */
.main {
background-color: white;
margin: 80px;
height: 700px auto;
}
nav ul li a{
    color: white;
  }   
nav .brand-logo {
    color: #ed8a63
}
h2 {
    color: #ed8a63;
}
h3,  {
    color: black;
}
.bio-text{
    color: #ed8a63;
}
.footer-copyright {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: black;
    text-align: center;
}
.btn {
    background-color: #ed8a63
}
.card-content {
    text-align: center;
    /* font-size: 20px; */
    color: #ed8a63;
}
@media only screen and (max-width: 1270px){
    nav a.button-collapse {
        display: block;
    }
    .main {
     height: 700px auto;
    }
    .side-nav{
        display: none;
    }
    }
@media only screen and (min-width: 960px){
    nav a.button-collapse {
        display: block;
    }
    .main {
     height: 700px auto;
    }
    .side-nav{
        /* display: none; */
    }
    }

    @media screen and (max-width: 640px) {
    nav ul li a {
            display: block;
            text-align: center;
            margin-right: 80px;
        }
    nav ul #mobile-demo li {
        text-align: center;
    }
    .side-nav{
        /* display: none; */
        margin-left: 160px;
    }
    }

    /* //do some mediaquery to fix the pages.// */